body {
  background-color: #3b83bd !important;
}

header,footer {
  color: white;
}

.image-design {
max-width: 600px;
  /* background-image: url("./images/1er-envío-viernes-en-línea-general_planeacion_finanzas_circulacion.jpeg");
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center center;   */
  height: 100vh;
}

.img-design-one {
    width: 100%;
    height: 100vh;
    
}
