.main-section {
  background-color: #3b83bd !important;
}

header,
footer {
  color: white;
}

.image-design {
  max-width: 600px;
  height: 100vh;
}

.img-design-one {
  width: 100%;
  height: 100vh;
}
